.overlay {
  position: fixed;
  right: -100vw;
  width: 100dvw;
  height: 100dvh;
  opacity: 50%;
  background-color: var(--dark);
  z-index: 100;
  transition: all 0.4s ease;
  transform: translateX(0);
}
.overlay.open {
  transform: translateX(-100%);
}

.popup-container {
  background-color: aliceblue;
}
.popup-text-container {
  background-color: aqua;
}
