.popup-dialog {
  border: none;
  background-color: #2a2a2aaa;
  z-index: 100;
  padding: 0;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.popup-container {
  position: relative;
  top: calc(100dvh - 80%);
  background-color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(236, 243, 248) 79%,
    rgb(255, 255, 255) 23%
  );
  z-index: 101;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.popup-close-btn {
  border: none;
  background-image: url(../../public/imgs/close.svg);
  width: 40px;
  height: 40px;
  background-color: #2a2a2a00;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 348px;
}
.popup-close-btn:focus-visible {
  outline: none;
}
.popup-ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.popup-li {
  width: 100%;
}
.listElem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.activeLogo {
  color: var(--primary-color);
}

.superpowerName {
  width: 184px;
}

.popup-text-container {
  width: 100%;
}
.popup-img-for-work {
  background-image: url(../imgs/for-work.png);
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  min-height: 230px;
}
.popup-img-for-health {
  background-image: url(../imgs/for-health.png);
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  min-height: 230px;
}
.popup-img-for-harmony {
  background-image: url(../imgs/for-harmony.png);
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  min-height: 230px;
}

.popup-text-container {
  display: flex;
  min-height: 112px;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  gap: 8px;
  border-radius: 20px;
  background-color: var(--static-white);
}
.superpowerLogo {
  width: 16px;
  height: 16px;
  color: var(--primary-10);
}
