.overlay {
  position: fixed;
  right: -100vw;
  width: 100dvw;
  height: 100dvh;
  opacity: 50%;
  background-color: var(--dark);
  z-index: 100;
  transition: all 0.4s ease;
  transform: translateX(0);
}
.overlay.open {
  transform: translateX(-100%);
}

.popup-container {
  background-color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(236, 243, 248) 79%,
    rgb(255, 255, 255) 23%
  );
  z-index: 100;
  cursor: pointer;
  max-width: 400px;
}

.popup-close-btn {
  background-color: aliceblue;
  width: 40px;
}
