@media screen and (max-width: 1060.9px) {
  /* about */
  .about-wrapper {
    padding: 60px 8px;
    margin: 0 auto;
  }
  .about-section-text-content {
    padding-right: 50px;
    padding-left: 60px;
  }
  /* slider */
  .slider {
    width: 100dvw;
    padding-left: 10px;
  }
  .slider-container {
    width: 100dvw;
    align-items: flex-start;
  }
  .slider-text-container {
    margin: 0 auto;
  }
  /* footer */
  .contacts-info-container {
    display: flex;
    flex-direction: column;
    padding-inline: 8px;
  }
  .contact-card {
    width: 100%;
  }
}

@media (hover: none) {
  .explore-bnt-link:hover {
    color: var(--static-white) !important;
  }
  .explore-btn:hover {
    background-color: var(--dark);
    border-radius: 20px;
  }

  /* best */
  .card:hover {
    color: var(--dark);
  }
  /* footer */
  #telegram-svg:hover,
  #facebook-svg:hover,
  #instagram-svg:hover,
  #x-svg:hover,
  .telegram:hover,
  .facebook:hover,
  .instagram:hover,
  .x:hover {
    color: var(--dark);
  }
  .caption-link:hover {
    color: var(--dark);
  }
  .contact-card-wrapper:hover,
  .contact-card:hover,
  .contact-card:hover a {
    color: var(--dark);
  }
  /* gifts */
  .menu-btn:hover {
    background-color: var(--primery-color);
  }
  /* slider */
  .activeNav:hover {
    color: var(--static-white);
    background-color: var(--primary-color);
  }
  .nav-a:hover {
    color: var(--dark);
    background-color: var(--static-white);
  }
}

@media screen and (max-width: 768.9px) {
  /* header */
  .burger-menu {
    display: flex !important;
  }
  .navigation {
    display: none;
  }
  ul {
    flex-direction: column;
  }
  .logo {
    padding: 8px 20px;
  }
  /* cta */
  .cta-container {
    padding: 0;
  }
}

@media screen and (max-width: 700.9px) {
  /* hero */
  .hero-secction-text-content {
    height: 452px;
  }
  /* about */
  .about-section {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about-section-text-content {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-section-img {
    height: 528px;
    object-fit: cover;
  }
  /* slider */
  .slider {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  /* best */
  .best-gifts-section {
    padding-top: 64px;
  }
  /* cta */
  .cta-section {
    padding: 60px 8px;
  }
  .cta-text-container {
    padding: 60px 0;
    gap: 18px;
  }
  /* gifts-page */
  .menu {
    gap: 0px;
  }
  .menu-btn {
    padding: 12px 8px;
  }
  .gifts-h1 {
    max-width: 364px;
    transition: all 0.5s ease-in-out;
  }
}
