.burger-menu {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: auto 8px;
  justify-content: space-between;
  align-items: center;
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}

.burger-line.top,
.burger-line.bottom {
  background-color: var(--dark);
  width: 100%;
  height: 1.5px;
  transition: all 0.4s ease;
}
.burger-menu.open .burger-line.top {
  transform: translateY(5px) rotate(45deg);
}
.burger-menu.open .burger-line.bottom {
  transform: translateY(-5px) rotate(-45deg);
}

.overlay {
  position: fixed;
  right: -100vw;
  width: 100dvw;
  height: 100dvh;
  opacity: 50%;
  background-color: var(--dark);
  z-index: 10000;
  transition: all 0.4s ease;
  transform: translateX(0);
}
.overlay.open {
  transform: translateX(-100%);
}
