.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../imgs/bg-forest.png);
}

.timer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 80px);
}
