.contants-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.contacts-info-container {
  display: grid;
  max-width: 1276px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ecf3f8;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: var(--dark);
}
.contact-card a {
  padding-block: 40px;
  text-decoration: none;
  color: var(--dark);
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
}
.contact-card-wrapper:hover,
.contact-card:hover,
.contact-card:hover a {
  color: var(--primary-color);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.telegram,
.facebook,
.instagram,
.x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.telegram:hover,
.facebook:hover,
.instagram:hover,
.x:hover {
  color: var(--primary-color);
}

#telegram-svg,
#facebook-svg,
#instagram-svg,
#x-svg {
  width: 24px;
  height: 24px;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

#telegram-svg:hover,
#facebook-svg:hover,
#instagram-svg:hover,
#x-svg:hover {
  color: var(--primary-color);
}

.caption-link {
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}
.caption-link:hover {
  color: var(--primary-color);
}
