.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 12px 20px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  gap: 8px;
}
a {
  text-decoration: none;
  color: var(--dark);
  padding: 12px 20px;
  font-weight: 600;
}
.logo svg {
  width: 2em;
  height: 2em;
}
nav,
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  height: 40px;
}
li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 12px 0;
}
li:hover {
  background-color: var(--primary-10);
  border-radius: 12px;
}
a:hover,
li:hover {
  color: var(--primary-color);
}
