.hero-section {
  border-radius: 12px;
  display: flex;
  background-image: url("../imgs/bg-snowball.png"), url("../imgs/bg-snow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero-secction-text-content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  justify-content: center;
  max-width: 426px;
  width: 100%;
  height: 404px;
  color: var(--static-white);
  text-align: center;
}
.explore-btn {
  color: var(--static-white);
  background-color: var(--dark);
  border-radius: 12px;
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 25px;
  border: none;
}

.explore-bnt-link {
  padding: 20px 32px;
  text-decoration: none;
  color: var(--static-white);
}

.explore-bnt-link:hover,
.explore-btn:hover {
  color: var(--dark);
  background-color: var(--static-white);
  border-radius: 25px;
  background-color: var(--static-white);
  color: var(--dark);
}
