@media screen and (max-width: 1060.9px) {
  /* about */
  .about-section-text-content {
    padding-right: 50px;
    padding-left: 60px;
  }

  /* footer */
  .contacts-info-container {
    display: flex;
    flex-direction: column;
  }
  .contact-card {
    width: 100%;
  }
}

@media screen and (max-width: 768.9px) {
  /* header */

  .navigation {
    display: none;
  }
  .burger-menu {
    display: flex;
  }

  /* gifts-slider */

  .slider {
    width: 100dvw;
  }

  .slider-container {
    width: 100dvw;
    align-items: flex-start;
  }
  .slider-text-container {
    margin: 0 auto;
  }

  /* cta */

  .cta-container {
    padding: 0;
  }

  /* gifts-page */
}

@media screen and (max-width: 700.9px) {
  /* hero */
  .hero-secction-text-content {
    height: 452px;
  }

  /* about */
  .about-section {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about-section-text-content {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-section-img {
    height: 528px;
    object-fit: cover;
  }

  /* cta */
  .cta-section {
    padding: 60px 8px;
  }
  .cta-text-container {
    padding: 60px 0;
    gap: 18px;
  }
  /* gifts-page */
}
