// variables

// colors
$primary-color: #ff4646;
$static-white: #ffffff;
$tag-purple: #4361ff;
$primary-10: #3f2d2d;
$static-white-40: #7f7f7f;
$tag-pink: #ff43f7;
$dark: #181c29;
$static-white-20: #555555;
$tag-green: #06a44f;

// font-families

$primary-font-family: Montserrat, sans-serif;
$secondary-font-family: allura, cursive;

// font-sizes
$header1-font-size: 32px;
$header2-font-size: 24px;
$header3-font-size: 16px;
$header4-font-size: 12px;
$p-font-size: 16px;
$large-acton-font-size: 24px;
$small-acton-font-size: 12px;
$caption-font-size: 24px;
$slider-font-size: 80px;

// font-weights
$primary-font-weight: 600;
$secondary-font-weight: 400;

//line-heights
$primary-line-height: 150%;
$secondary-line-height: 130%;

//letter-spacings
$primary-letter-spacing: 5%;
$secondary-letter-spacing: 16%;
$tertiary-letter-spacing: 8%;

//text-transforms
$primary-text-transform: uppercase;

header {
  font-family: $primary-font-family;
  font-size: $small-acton-font-size;
  font-weight: $primary-font-weight;
  line-height: $secondary-line-height;
  letter-spacing: $primary-letter-spacing;
  text-transform: $primary-text-transform;
}
.logo svg {
  width: 2em;
  height: 2em;
}
